name: Deploy Website via FTP to Somee

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via FTP to Somee
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}

          # Thư mục gốc FTP (Somee yêu cầu upload vào đúng path này!)
          server-dir: /www.nhanvt.somee.com/

          # Thư mục cần upload (repo của bạn)
          local-dir: ./

          protocol: ftp
          port: 21
